#display, #display img { width: 450px; height: 450px; display: block }

body { 
    font-family: "Open Sans", sans-serif;
    max-width: 925px;    
    margin-left: auto;
    margin-right: auto; 
}

/* The spinning element */
.spinner {
  width: 15px;
  height: 15px;
  border: 2px solid #f3f3f3; /* Light gray border for the track */
  border-top: 2px solid #4b9cd3; /* Blue border for the spinning part */
  border-radius: 50%; /* Makes the div a circle */
  animation: spin 1s linear infinite; /* Applies the spin animation */
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
}

/* Keyframes for the rotation animation */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotate(360deg); /* End at 360 degrees */
  }
}

#app { display: flex }
#io > div { padding-bottom: 15px }
#io div label { width: 250px; display: inline-block }

#outputs { display: flex; padding-top: 25px }
#outputs > div { width: 150px; padding: 5px }
.output-label { font-variant: small-caps; }